<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLUo_UssdMLwN1RKg_sb4YtpVVSgsLzns</string>
	<key>GCM_SENDER_ID</key>
	<string>921993002835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-472e7</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-472e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921993002835:ios:029b8525ca091e2b0aaba6</string>
</dict>
</plist>